* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 82vh;
}

.container .left {
    height: 82vh;
    width: 54%;
    padding-left: 55px;
    text-align: left;
    /* align-items: center; */
    /* border: 2px solid blue; */
}

.left .head {
    height: 76vh;
    padding: 20px;
    line-height: 20px;
}

.left .head .first {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: 20px;
}

.head .hungry {
    display: block;
    font-size: 2.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 55px;
}

.head .order {
    font-size: 22px;
    font-weight: 300;
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: -.3px;
    color: #686b78;
}

.left .logo {
    width: 189.26px;
    height: 55.09px;
    margin: 20px;
}

.first .links {
    margin-top: 30px;
    padding-right: 20px;
}

.left .login {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0 1.8rem;
    color: #000;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: auto;
}

.left .signup {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    padding: 0 1.8rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: auto;
    /* right: 25px; */
}

.input {
    /* display: inline-block; */
    height: 58px;
    /* line-height: 28px; */
    line-height: 60px;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 160px;
    border-color: #fc8019;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    width: 510px;
}

.find {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #fc8019;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    right: 0;
    height: 58px;
    line-height: 60px;
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .53px;
    padding: 0;
    left: 564px;
    margin-top: 10px;
    position: absolute;
}

.cities {
    list-style: none;
    line-height: 30px;
    display: inline-flex;
    max-width: 600px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cities .c1,
.c3,
.c5,
.c7,
.c9 {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.5px;
}

.cities .c2,
.c4,
.c6,
.c8,
.c0 {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    color: #000;
    line-height: 1.5;
    letter-spacing: -.5px;
}

.container .right {
    /* border: 2px solid black; */
    height: 82vh;
    width: 46%;
}

.container .right .i1 {
    position: absolute;
    overflow: hidden;
    background: content-box;
    width: 46%;
    height: 82vh;
}

.container2 {
    background: #2b1e16;
    padding: 0 20px;
}

.carding,
.card {
    position: relative;
    text-align: center;
    /* width: 300px; */
}

.card {
    width: 30%;
}

.carding {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card .forimg {
    height: 250px;
}

.card .para1 {
    color: #fff;
    /* margin-top: 40px; */
    font-size: 18px;
    font-weight: 800;
}

.card .para2 {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(253, 210, 210);
    padding: 0 18px;
}

.container3 {
    padding: 0 20px;
    height: 570px;
    overflow: hidden;
}

.box3 {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.para1-3 {
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;
}

.para2-3 {
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
}

.img1-3 {
    position: absolute;
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    /* padding-top: 20px; */
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
    top: 0;
    right: 300px
}

.img2-3 {
    position: absolute;
    bottom: 0;
    right: -45px;
}